
/* Загальні стилі для всіх кубіків */
.cube {
    width: 100px;
    height: 100px;
    position: absolute;
    transform-origin: 0% 100%; /*0% 100%; вказує, що точка обертання знаходиться в лівому нижньому куті елемента (перший параметр 0% відносно горизонтальної координати, і другий параметр 100% відносно вертикальної координати). Це означає, що елемент буде обертатися навколо свого лівого нижнього кута.*/
    border-radius: 20px; /* Закруглені кути */
    border: 2px solid #000;
}

/* Стилі для першого кубіка */
.cube1 {
    transform: rotate(20deg);
    top: 450px;
    left: 100px;
    background-color: powderblue;
}

/* Стилі для другого кубіка */
.cube2 {
    transform: rotate(45deg);
    top: 315px;
    left: 158px;
    background-color: yellow;
}

/* Стилі для третього кубіка */
.cube3 {
    transform: rotate(70deg );
    top: 390px;
    left: 230px;
    background-color: darkorchid;
}

.box{width: 100px;
    height: 100px;
    border-radius: 20px; /* Закруглені кути */
    border: 2px solid #000;
    position: absolute;
}


#box1{
    top: 380px;
    left: 550px;
    rotate: 45deg;
    background-color: yellow;
}
#box2{
    top: 480px;
    left: 485px;
    rotate: 20deg;
    background-color: powderblue;;
}
#box3{
    top: 480px;
    left: 615px;
    rotate: 70deg;
    background-color: darkorchid;
}